.example-card {
  width: 288px;
  height: 600px;
  margin: 5px;
}

.image {
  margin-left: auto;
  margin-right: auto;
}

.artikelimage {
  max-height: 250px;
  max-width: 288px;
}

.buttons {
  margin-top: 5px;
}

.edit-button {
  margin-right: 15px;
}
